/Cliente.class
/EventoGeradorCliente.class
/EventoTerminoLavagem.class
/Lavanderia.class
/MaquinaLavar.class
/Processador.class
/MaquinaDeBusca.class
/CPU.class
/Disco1.class
/Disco2.class
/Disco3.class
/EventoUtilizarCPU.class
/EventoTerminoUsoCPU.class
/EventoTerminoUsoDisco1.class
/EventoTerminoUsoDisco2.class
/EventoTerminoUsoDisco3.class
/disco3.class
/disco2.class
